:root{
	--mainColor:#707a8f;
	--secondaryColor:#5999a6;

	--borderColor:#161914;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgb(82, 163, 173);

	--previewShadow:#2a2f25;

	--buttonColor:#3373cc;
}
